/* selector */

/* all tag */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}
/* div  can be skipped. only div. use comma*/
/* cascading style sheet */

#header-search a {
  text-decoration: none;
}

div#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(./sp_search.png);
  background-position: -4px -4px;
  text-indent: 101%;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  top: -7px;
}

#header-search h2 {
  display: none;
  /* only search engine can see */
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0; */
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d; /* hex */
  width: 521px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* #header-center h1 --> this is grandson */

#header-search fieldset input {
  vertical-align: top;
  border: none;
  padding: 0;
  outline: none;
  width: 405px;
  height: 23px;
}
#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#header-search fieldset button .search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav li span:first-child {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 442px 428px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);

}

nav li:first-child span:first-child {
  width: 21px;
  height: 21px;
  background-position: -420px -73px;
}

nav li:nth-child(2) span:first-child {
  width: 54px;
  height: 20px;
  background-position: -209px -267px;
  margin-left: 14px;
}